<?php echo $header; ?>
<?php echo $content_top; ?>
<div class="container style_home_container style_home_container22" xmlns="http://www.w3.org/1999/html">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>


    <?php echo $column_right; ?></div>
</div>

<div class="container">
  <?php echo $content_bottom; ?>
  </br>
  <a name="stopblock"></a>
  <div id="vk_comments" class="stopblock"></div>
</div>
<script type="text/javascript">
  VK.Widgets.Comments("vk_comments",{limit:10,width:"665",attach:"*"});
</script>
<?php echo $footer; ?>