<div id="search" class="">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg  col-xs-1 col-sm-8 col-md-8 col-lg-9" />
  <button type="submit" value="Найти" class="btn btn-default btn-lg col-xs-4 col-sm-4 col-md-4 col-lg-3">Найти</button>
</div>