
			.mfilter-counter {
				background: #e3dda2;
				color: #ffffff;
			}
			.mfilter-counter:after {
				border-right-color: #e3dda2;
			}
		
				.mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			