<?php foreach ($products as $product) { ?>
<?php if (!$product['special']) { ?>
<a href="<?php echo $product['href']; ?>"><span class="price_footer text-center"><?php echo $product['price']; ?> руб</span></a>
<?php } else { ?>
<a href="<?php echo $product['href']; ?>"><span class="price_footer text-center"><?php echo $product['special']; ?> руб</span></a>
<?php } ?>
<?php if ($product['tax']) { ?>
<a href="<?php echo $product['href']; ?>"><span class="price_footer text-center"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span></a>
<?php } ?>
<?php } ?>
