@import "http://webfonts.ru/import/exotwo.css";
INPUT.text {
    outline: none;
    border: 1px solid #ccc;
}
INPUT.text:focus {
    outline: none;
    border: 1px solid #fdaa7d; /* Рамка при получении фокуса */
}
.modal-div-style{
    width: 55%;
    margin: 0 auto;
}
.modal-title-style{
    font-size: 25px;
    font-family: 'Exo2-Regular';
    text-transform: uppercase;
}
.modal-title-style_1{
    font-size: 25px;
    font-family: Exo2-Bold;
    text-transform: uppercase;
}
.form-width-style{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.input-style{
    border-radius: 3px;
    width: 100%;
}
.div-width-100{
    width: 100%;
}
.input-title-style{
    font-family: 'Exo2-Light';
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 5px;
}
.input-title-style-2{
    font-family: 'Exo2-Light';
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 5px;
    margin-top: 15px;
}
.modal-btn-div-style{
    margin-top: 45px;
    text-align: center;
    margin-bottom: 35px;
}
*{outline: none !important;}
.modal-btn-style,
.modal-btn-style:hover,
.modal-btn-style:focus,
.modal-btn-style:active{
    width: 100%;
    border: none;
    background-color: inherit;
    color: #fff;
    font-family: 'Exo2-Regular';
    font-size: 20px;
    padding-top: 7px;
    outline: none;
}
.modal-btn-img-style{
    background: url("/../../catalog/view/theme/default/image/btn-color.png") center no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 74px;
    margin: 0 auto;
}
.modal-body{
    padding: 0 45px 0 45px !important;
}
.modal-header{
    border: none !important;
}