@import "http://webfonts.ru/import/comfortaa.css";
/*
	Comfortaa, 300, 400, 700
*/

@import "http://webfonts.ru/import/exotwo.css";
/*
	Exo 2, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
@import "http://webfonts.ru/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
.contact-text-title-style{
    width: 80%;
    margin-left: 20px;
    font-family: 'Exo2-Regular';
    font-size: 22px;
    color: #a9a9a8;
}
.contact-text-title-style1{
    width: 80%;
    margin-left: 20px;
    font-family: 'Exo2-Bold';
    font-size: 23px;
    color: black;
}
.contact-text-style{
    margin-left: 40px;
    font-family: 'Exo2-Regular';
    font-weight: 100;
    font-size: 16px;
    color: #807d6f;
}
.contact-text-style1{
    margin-left: 40px;
    font-family: 'Exo2-Bold';
    font-weight: 100;
    font-size: 18px;
    color: black;
}
@media(min-width: 320px) and (max-width: 767px) {
    .contact-text-title-style{
        width: 60%;
        margin-left: 20px;
        font-family: 'Exo2-Regular';
        font-size: 22px;
        color: #a9a9a8;
    }
    .contact-text-title-style1{
        width: 60%;
        margin-left: 20px;
        font-family: 'Exo2-Bold';
        font-size: 23px;
        color: black;
    }
    .contact-text-style{
        width: 40%;
        font-family: 'Exo2-Regular';
        font-weight: 100;
        font-size: 16px;
        color: #807d6f;
    }
    .contact-text-style1{
        width: 40%;
        font-family: 'Exo2-Bold';
        font-weight: 100;
        font-size: 18px;
        color: black;
    }
}