@import "http://webfonts.ru/import/comfortaa.css";
/*
	Comfortaa, 300, 400, 700
*/

@import "http://webfonts.ru/import/exotwo.css";
/*
	Exo 2, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
@import "http://webfonts.ru/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/

.mb-navbar-nav-style {
    font-family: Comfortaa-Bold;
    font-size: 16px;
    text-align: center;
    margin-top: 0px !important;
    z-index: 100;
    margin-left: -3px !important;
    position: relative !important;
    max-width: 255px;
    background-color: #7fdced;
}
.hidden-div-style{
    top: 0;
    min-width: 250px;
    right: 1px;
    position: absolute;
    display: none;
    z-index: 100;
}
.mb-li-text-style-1{
    padding-top: 5px;
    text-align: left;
    padding-left: 30px;
    color: #fff;
}
.mb-li-text-style{
    text-align: left;
    padding-left: 30px;
    border-top: 1px solid #d9f5fa;
}
.mb-li-text-style-2{
    padding-bottom: 5px;
    text-align: left;
    padding-left: 30px;
    border-top: 1px solid #fff;
}
.li-a-color,
.li-a-color:hover,
.li-a-color:focus{
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0) ;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    background-color: rgba(0, 0, 0, 0) !important;
    text-decoration: underline
}
@media(min-width: 600px)and (max-width: 767px) {
    .mb-navbar-nav-style {
        font-family: Comfortaa-Bold;
        font-size: 16px;
        text-align: center;
        margin-top: 0px !important;
        z-index: 100;
        margin-left: 0 !important;
        position: relative !important;
        max-width: 255px;
        background-color: #7fdced;
        bottom: 51px;
    }
    .hidden-div-style {
        top: 0;
        min-width: 250px;
        right: 4px;
        position: absolute;
        display: none;
        z-index: 100;
    }
}
@media(min-width: 320px)and (max-width: 599px) {
    .image_header_container_style_mob {
        background-color: #ddca9b;
        height: 145px;
    }
    .hidden-div-style {
        top: -38px;
        min-width: 250px;
        right: 1px;
        position: absolute;
        display: none;
        z-index: 100;
    }
}